TestWebEngine/TestWebEngine.Web.Tests/Service References/StatisticsServices/StatisticsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StatisticsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2028/StatisticsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2028/StatisticsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2028/StatisticsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TestWebEngine.Service.Statistics" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStatisticsService_UpdateStatistics_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStatistics" />
  </wsdl:message>
  <wsdl:message name="IStatisticsService_UpdateStatistics_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStatisticsResponse" />
  </wsdl:message>
  <wsdl:message name="IStatisticsService_GetStatistics_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatistics" />
  </wsdl:message>
  <wsdl:message name="IStatisticsService_GetStatistics_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatisticsResponse" />
  </wsdl:message>
  <wsdl:portType name="IStatisticsService">
    <wsdl:operation name="UpdateStatistics">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatisticsService/UpdateStatistics" message="tns:IStatisticsService_UpdateStatistics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatisticsService/UpdateStatisticsResponse" message="tns:IStatisticsService_UpdateStatistics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatistics">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatisticsService/GetStatistics" message="tns:IStatisticsService_GetStatistics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatisticsService/GetStatisticsResponse" message="tns:IStatisticsService_GetStatistics_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStatisticsService" type="tns:IStatisticsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateStatistics">
      <soap:operation soapAction="http://tempuri.org/IStatisticsService/UpdateStatistics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatistics">
      <soap:operation soapAction="http://tempuri.org/IStatisticsService/GetStatistics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StatisticsService">
    <wsdl:port name="BasicHttpBinding_IStatisticsService" binding="tns:BasicHttpBinding_IStatisticsService">
      <soap:address location="http://localhost:2028/StatisticsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>